.verticalCategoryList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: stretch;
  margin: 0;
  padding: 0;
  height: 100vh;
    /* Ocupa toda a altura da janela */
    overflow-y: auto;
    /* Permite rolagem se necessário */
    background: rgba(0, 0, 0, 0.7);
    /* Fundo para destacar a barra lateral */
}

.category {
  display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: background 0.3s ease;
    cursor: pointer;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.category:hover {
  background: rgba(255, 255, 255, 0.1);
}

.category.active {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 8px rgba(255, 0, 122, 0.3);
}

.horizontalCategoryList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0;
    /* Remove any margin */
}

@media (max-width: 992px) {
  .verticalCategoryList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 100vh;
      /* Ajusta a altura para dispositivos menores */
  }
  
  .category {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .category {
    padding: rem rem;
    font-size: 0.9rem;
  }
}
